.footer-social {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 43px;
  margin-bottom: 27px;
}

.footer-social__item {
  display: grid;
  align-items: center;
  justify-content: center;
}

.footer-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: #E5E5E5;
  border-radius: 50%;
}

.footer-main__link {
  display: block;
  width: 163px;
  margin-bottom: 14px;
}

.footer-main__image {
  display: block;
}

.footer-address {
  max-width: 108px;
  margin-bottom: 16px;

  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 15px;

  text-align: center;
  letter-spacing: -0.015em;

  color: rgba(0, 0, 0, 0.8);
}

.footer-address a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
